<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDp2FlQUpMFa75hpJ10pi2l8juDNgk98Z0</string>
	<key>GCM_SENDER_ID</key>
	<string>958960269700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GS06</string>
	<key>PROJECT_ID</key>
	<string>gs06-af98c</string>
	<key>STORAGE_BUCKET</key>
	<string>gs06-af98c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958960269700:ios:a8a3a4c8ac1444b47945d1</string>
</dict>
</plist>